@charset "UTF-8";

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Light'), local('Exo2-Light'),
    url('../../fonts/exo2-300-normal.woff2') format('woff2'),
    url('../../fonts/exo2-300-normal.woff') format('woff'),
    url('../../fonts/exo2-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
