@charset "UTF-8";

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'),
    url('../../fonts/exo2-800-normal.woff2') format('woff2'),
    url('../../fonts/exo2-800-normal.woff') format('woff'),
    url('../../fonts/exo2-800-normal.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
