@charset "UTF-8";

@font-face {
    font-family: 'Exo 2';
    src: local('Exo 2 Extra Bold Italic'), local('Exo2-ExtraBoldItalic'),
    url('../../fonts/exo2-800-italic.woff2') format('woff2'),
    url('../../fonts/exo2-800-italic.woff') format('woff'),
    url('../../fonts/exo2-800-italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
